<%- layout('layouts/main') %>
<h1>Hola mundo</h1>

<div class="portada">
    <img src="img/portada tri.jpeg" alt="portada unsaac">
</div>

<a href="/signin">Iniciar sesion</a>

<a href="/signup">Registrarse</a>