<form action="/signin" method="POST">

    <input type="email" name="email">
    
    <input type="password" name="password">

    <button type="submit">
        Sign in - registrate
    </button>
</form>